body {
	font-family: "IBM Plex Sans", sans-serif;
	margin: 0;
}

.left-col {
	padding: 16px;
	position: relative;
}

a.left-col {
	color: black;
  	background-color: transparent;
	text-decoration: none;
	border: 0;
	font-size: 35px;
	
}

.left-col img {
	float: left;
	width: 70px;
  	height: 70px;
	padding-top: 10px;
}

h1 {
	padding-bottom: 10px;
}

.right-col {
	width: 100%;
	height: 100vh;
	/* background-image: url("/static/pointcloud.jpg"); */
	background-position: center center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.checkboxes input[type="checkbox"] {
	padding: 7px;
	text-align: left;
    width: auto;
    margin-left: 0;
	display: inline-block;
}

@media (min-width: 600px) {
	.flex-container {
		display: flex;
		height: 100vh;
	}

	.left-col {
		width: 70%;
		height: 100%;
		border-right: 1px solid black;
		flex-grow: 0;
		flex-shrink: 0;
		box-sizing: border-box;
		overflow-y: auto;
	}
}

.right-col p {
	color: white;
	background-color: rgba(0,0,0,0.5);
	padding: 16px;
	display: inline-block;
}

hr {
	margin: 32px 0;
}

input {
	padding: 4px 8px;
	font-size: 20px;
	width: 100%;
	box-sizing: border-box;
	display: block;
	margin: 8px 0;
	font-family: "IBM Plex Sans", sans-serif;
}

input[type="submit"] {
	background-color: red;
	border: 0;
	color: white;
	opacity: 0.75;
	transition: all 0.2s ease;
}

input[type="submit"]:hover {
	opacity: 0.9;
	box-shadow: 0 4px 4px 2px rgba(0,0,0,0.5);
}

.course-rec {
	margin: 16px 0;
 	background-color: #eee;
	border-radius: 8px;
}

.course-rec h4 {
	margin-top: 0
}

.course-rec p:last-of-type {
	margin-bottom: 0;
}

.collapsible {
	cursor: pointer;
  }


.content {
	padding: 16px;
	display: none;
	overflow: hidden;
	font-size: 14px
	/* background-color: #f1f1f1; */
  }

.button {
	width: 100%;
	display: block;
  background-color: red;
	opacity: 0.75;
  border: none;
  color: white;
  padding: 16px 8px;
  text-align: center;
  font-size: 16px;
	font-family: "IBM Plex Sans", sans-serif;
}

.button:hover {
	opacity: 0.9;}

.uppercase-title {
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
	margin-bottom: 4px;
	margin-top: 0
}