<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset='UTF-8'>
    <meta http-equiv="'X-UA-Compatible" content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>p-rec</title> 
    <link rel="stylesheets" href="{{ url_for('static', filename='stylesheets/styles.css') }}" />

</head>

<body>
    <div>
        <h1> p-recommender </h1>
      <form action = "/rec", method = post>
        <input type="text", name = "coursename">
        <input type="submit" value = "Submit">
      </form>

    </div>
 </body>

 </html>
 