<a href="/"><img src="/static/p-ai.png" alt="p-ai"/></a>
<h1><a class="left-col" href="/">p-recs</a></h1>

<p>The 5Cs offer thousands of courses. Use p-recs to get course recommendations based on what you've already taken.</p>

<hr>

<form action="/rec" method="post">
    <!-- name`  attribute specifies the name of a form.  -->
    <!-- used to reference elements in JS OR
    to reference form data after a form is submitted -->
    <input type="text" name="search" id="searchBox" placeholder="Input course name or ID">
    <!-- submit = button!; value = what shows up on the button-->
    <div class="checkboxes">
        <input type="checkbox" name="upperlvl" value="1"/> Remove lower level courses
        <br>
        <input type="checkbox" checked name="cmc" value="1"/> Include CMC courses
        <br>
        <input type="checkbox" checked name="pomona" value="1"/> Include Pomona courses
        <br>
        <input type="checkbox" checked name="hmc" value="1"/> Include Harvey Mudd courses
        <br>
        <input type="checkbox" checked name="pitzer" value="1"/> Include Pitzer courses
        <br>
        <input type="checkbox" checked name="scripps" value="1"/> Include Scripps courses
        <br>
        <input type="checkbox" checked name="other" value="1"/> Include Other courses
    </div>
    <input type="submit" value="Get recs">
</form>
{% if error %}
<p class="error"><strong>Error:</strong> {{ error }}
    {% endif %}
